<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link href="{{asset('css/animate.min.css')}}" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/> 
        {% block stylesheets %}
		<link href="{{asset('css/default.css')}}" rel="stylesheet" type="text/css" />
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="{{asset('js/default.js')}}"/>
        {% block javascripts %}
		{% endblock %}
    </body>
</html>
