/* General */

html,body{
	margin: 0;
	padding: 0;
}

body{
	background-color:white;
	font-family: 'Montserrat', sans-serif;
}

/* Zoom logo portail */

.zoom {
    transition: transform .2s;
    width: 70px;
    height: 70px;

}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

/* lien */
a:link,a:hover,a{
	text-decoration:none; 
}